---
import ProjectBullets from "./ProjectBullets.astro";
import Tool from "../components/Tool.astro";
import Tag from "../components/Tag.astro";
const { project } = Astro.props;
const startDate = project.data.startDate.toLocaleDateString(undefined, { month: 'short', year: 'numeric' });

const hasEndDate = project.data.endDate.valueOf() != 0
const endDate = hasEndDate ? project.data.endDate.toLocaleDateString(undefined, { month: 'short', year: 'numeric' }) : null;
const dateString = hasEndDate ? (startDate === endDate ? startDate : `${startDate} – ${endDate}`) : `${startDate} – current`;

const onlyOneBullet = project.data.bullets.length == 1; 
const enableLink = project.data.enableLink; 
---

<li class="py-2">
  <div class="text-balance my-0">
    { enableLink ?  <a class="hover:italic" href={`/projects/${project.id}`}>{project.data.title}</a> : <span>{project.data.title}</span> }
    <span class="text-gray-4"> · {dateString}</span>
  </div>

  <div class="text-gray-4 -mt-0.5 font-mono">{project.data.tools.map((tool: string) => <Tool tool={tool} />)}</div>
  <ProjectBullets bullets={project.data.bullets} onlyOneBullet={onlyOneBullet} />
  <div class="text-gray-3">{project.data.tags.map((tag: string) => <Tag tag={tag} />)}</div>
</li>